---
import HeroCard from "../../../components/ui/HeroCard";

import { getCollection } from "astro:content";
import Page from "../../../layouts/Page.astro";
import Grid from "../../../components/ui/Grid";

const themes = await getCollection("photoThemes");
const sortedThemes = themes
  .sort((a, b) => (a.data.photos.length > b.data.photos.length ? -1 : 1))
  .map((t) => t.data);
---

<Page
  title="Themes"
  description="Sometimes a single photo is all you need to tell a story. Browse my most unique stories."
>
  <div class="space-y-8">
    <Grid>
      {
        sortedThemes.map((theme) => (
          <HeroCard
            title={theme.title}
            subtitle={`${theme.photos.length} photo${theme.photos.length !== 1 ? "s" : ""}`}
            imagePath={theme.previewImage}
            href={`/photos/themes/${theme.id}`}
          />
        ))
      }
    </Grid>
  </div>
</Page>
