---
import HeroCard from "../../../components/ui/HeroCard";

import Page from "../../../layouts/Page.astro";
import Grid from "../../../components/ui/Grid";
import { getPhotoThemes } from "../../../utils/photo-themes";

const themes = await getPhotoThemes();
const sortedThemes = themes.sort((a, b) =>
  a.photos.length > b.photos.length ? -1 : 1
);
---

<Page
  title="Themes"
  description="Sometimes a single photo is all you need to tell a story. Browse my most unique stories."
>
  <div class="space-y-8">
    <Grid>
      {
        sortedThemes.map((theme) => (
          <HeroCard
            title={theme.title}
            subtitle={`${theme.photos.length} photo${theme.photos.length !== 1 ? "s" : ""}`}
            imagePath={theme.previewPhoto.slug}
            href={`/photos/themes/${theme.slug}`}
          />
        ))
      }
    </Grid>
  </div>
</Page>
