---
import TextInput from "./TextInput.astro";
import Form from "./Form.astro";

interface Props {
  parentId?: string;
}

const { parentId }: Props = Astro.props;
---

<Form name="comment" submitButtonText="Send Comment">
  <input type="hidden" name="parentId" value={parentId} />
  <TextInput
    label="Email Address *"
    type="email"
    name="email"
    placeholder="Your email address..."
  />
  <TextInput
    label="Name *"
    type="text"
    name="name"
    placeholder="Your name..."
  />
  <TextInput
    label="Comment *"
    name="message"
    placeholder="Your comment..."
    multiline={true}
  />
</Form>
