---
import TextInput from "./TextInput.astro";
import Form from "./Form.astro";
---

<Form name="contact" submitButtonText="Send Message" size="lg">
  <TextInput
    label="Email Address *"
    type="email"
    name="email"
    placeholder="Your email address..."
    size="lg"
  />
  <TextInput
    label="Name *"
    type="text"
    name="name"
    placeholder="Your name..."
    size="lg"
  />
  <TextInput
    label="Message *"
    name="message"
    placeholder="Your message..."
    multiline={true}
    size="lg"
  />
</Form>
