---
import Button from "../ui/Button";
import type { ButtonSize } from "../ui/Button";
interface Props {
  name: string;
  submitButtonText?: string;
  size?: "md" | string;
}

const { name, submitButtonText = "Submit", size = "md" } = Astro.props;

type Size = "sm" | "md" | "lg";
const sizes: Record<Size, string> = {
  sm: "p-4",
  md: "p-5 md:p-10",
  lg: "p-5 md:p-10 lg:p-12 xl:p-14",
};
---

<style>
  .your-website-here {
    display: none;
  }
</style>
<div
  class={`bg-surface-secondary rounded-lg shadow-lg mx-auto w-full ${sizes[size as Size]}`}
>
  <form
    method="POST"
    action={`https://extraordinary-sherbet-37382c.netlify.app${Astro.url.pathname}`}
    name={name}
    class="space-y-4"
    data-netlify="true"
    netlify-honeypot="url-field"
  >
    <slot />

    <input type="hidden" name="url" value={Astro.url.toString()} />
    <p class="your-website-here">
      <label for="url-field">URL</label>
      <input type="url" name="url-field" id="url-field" />
    </p>

    <Button type="submit" variant="primary" size={size as ButtonSize}>
      {submitButtonText}
    </Button>
  </form>
</div>
