---
const {
  action,
  confirmationUrl,
  emailSubject,
  submitButtonText = "Submit",
} = Astro.props;
---

<div
  class="bg-background-alt rounded-lg shadow-lg mx-auto w-full p-5 md:p-10 lg:p-12 xl:p-14"
>
  <form method="post" action={action} class="w-full space-y-4">
    <slot />

    <input type="hidden" name="_next" value={confirmationUrl} />
    <input type="hidden" name="_subject" value={emailSubject} />
    <input
      type="text"
      name="_gotcha"
      class="hidden"
      tabindex="-1"
      autocomplete="off"
    />

    <button
      type="submit"
      class="w-full px-8 py-3 text-base md:text-lg font-semibold text-white bg-accent rounded hover:bg-accent/80 transition-colors duration-150 ease-in-out"
    >
      {submitButtonText}
    </button>
  </form>
</div>
