---
import Button from "../ui/Button";
const { action, submitButtonText = "Submit", size = "md" } = Astro.props;

type Size = "sm" | "md" | "lg";
const sizes: Record<Size, string> = {
  sm: "p-4",
  md: "p-5 md:p-10",
  lg: "p-5 md:p-10 lg:p-12 xl:p-14",
};
---

<div
  class={`bg-surface-secondary rounded-lg shadow-lg mx-auto w-full ${sizes[size as Size]}`}
>
  <form method="POST" action={action} class="space-y-4">
    <slot />

    <Button type="submit" variant="primary" size={size}>
      {submitButtonText}
    </Button>
  </form>
</div>
