---
import ResponsiveWidth from "../../components/layout/ResponsiveWidth.astro";
import LinkButton from "../../components/ui/LinkButton";
import Page from "../../layouts/Page.astro";
import { kebabToTitleCase } from "../../utils/kebab";
import { getAllLocations } from "../../utils/map-collections";

const locations = getAllLocations();
---

<Page title="All Hiking Maps">
  <ResponsiveWidth>
    <div class="space-y-8 flex flex-col">
      <ul class="space-y-4">
        {
          locations.map((location) => (
            <li>
              <LinkButton variant="secondary" href={`/maps/${location}`}>
                {kebabToTitleCase(location)}
              </LinkButton>
            </li>
          ))
        }
      </ul>
    </div>
  </ResponsiveWidth>
</Page>
