---
import { getCollection } from "astro:content";
import ResponsiveWidth from "../../components/layout/ResponsiveWidth.astro";
import LinkButton from "../../components/ui/LinkButton";
import Page from "../../layouts/Page.astro";
import { kebabToTitleCase } from "../../utils/kebab";

const maps = await getCollection("maps");
// Get unique countries
const countries = [...new Set(maps.map((map) => map.id.split("/")[0]))];
---

<Page title="All Hiking Maps">
  <ResponsiveWidth>
    <div class="space-y-8 flex flex-col">
      <ul class="space-y-4">
        {
          countries.map((country) => (
            <li>
              <LinkButton variant="secondary" href={`/maps/${country}`}>
                {kebabToTitleCase(country)}
              </LinkButton>
            </li>
          ))
        }
      </ul>
    </div>
  </ResponsiveWidth>
</Page>
