---
import { getCollection } from "astro:content";
import GuideCard from "../../components/GuideCard.astro";
import PageContainer from "../../components/containers/PageContainer.astro";
import Grid from "../../components/ui/Grid.tsx";
import Layout from "../../layouts/Layout.astro";

const guides = (await getCollection("guides")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Layout>
  <PageContainer>
    <h1>Guides</h1>
    <Grid>
      {
        guides.map((item) => (
          <GuideCard
            href={`/guides/${item.id}/`}
            imagePath={item.data.image}
            title={item.data.title}
            description={item.data.description}
          />
        ))
      }
    </Grid>
  </PageContainer>
</Layout>
