---
import MediaContainer from "../../components/containers/MediaContainer.astro";
import PageContent from "../../components/containers/PageContainer.astro";
import Layout from "../../layouts/Layout.astro";
import PhotoGrid from "../../components/photos/PhotoGrid";
import PhotoSwiper from "../../components/photos/PhotoSwiper";
import { getCollection } from "astro:content";

const photos = await getCollection("photos");
const showcasePhotoPaths = photos
  .filter((photo) => photo.data.tags.includes("showcase"))
  .map((photo) => photo.data.path);
---

<Layout>
  <PageContent>
    <h1>Photos</h1>
    <MediaContainer>
      <PhotoGrid client:visible photos={showcasePhotoPaths} />
    </MediaContainer>
  </PageContent>
</Layout>
