---
import Page from "../../layouts/Page.astro";
import PhotoGrid from "../../components/photos/PhotoGrid";
import LinkButton from "../../components/ui/LinkButton";
import BaseSwiper from "../../components/ui/BaseSwiper";

import { getCollection } from "astro:content";
import Text from "../../components/ui/Text";
import ResponsiveWidth from "../../components/layout/ResponsiveWidth.astro";
import PhotosSEO from "../../seo/PhotosSEO.astro";

const photos = await getCollection("photos");
const showcasePhotoPaths = photos
  .filter((photo) => photo.data.tags.includes("showcase"))
  .map((photo) => photo.data.path);

const galleries = await getCollection("galleries");
const galleryItems = galleries.map((gallery) => ({
  id: gallery.id,
  title: gallery.data.title,
  description: gallery.data.description,
  image: gallery.data.image,
}));
---

<Page
  title="Photos"
  description="Sometimes a single photo is all you need to tell a story. Browse my most unique stories."
>
  <div class="space-y-8">
    <ResponsiveWidth size="full">
      <PhotoGrid client:visible photos={showcasePhotoPaths} />
    </ResponsiveWidth>
    <ResponsiveWidth>
      <Text variant="h2">Photo Galleries</Text>
    </ResponsiveWidth>
    <ResponsiveWidth size="lg">
      <BaseSwiper client:visible items={galleryItems} urlPrefix="galleries" />
      <LinkButton href="/galleries">View all galleries</LinkButton>
    </ResponsiveWidth>
  </div>

  <PhotosSEO
    name="Photos Showcase"
    description="Nicholas Eager's Photos"
    images={showcasePhotoPaths}
  />
</Page>
