<div class="about-me-wrap">
    <div class="about-me-container">
        {% include image.html src="profile-square_7r8XDOfQj" class="about-me-image" %}
        <div class="about-me-content">
            <h3>Hi, folks!</h3>
            <p>I am an international adventure film-maker and photographer. I specialize in documenting all of the tiny, special moments from off the beaten path adventures around the world.</p>
            <br>
            <a href="{{ "/about" | relative_url }}" class="button button--small">Learn More</a>
        </div>
    </div>
</div>