<script>
	window.onload = function () {
        setTimeout(function () {
            document.querySelector('#mapframe').contentDocument.querySelector('#mapbutton').click();
        }, 1000);
	};
</script>

<iframe
    id="mapframe"
    srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{background:rgb(190,208,170);height:100%}</style>
    <a href=https://www.alltrails.com/widget/recording/grand-canyon-hike-5735c3a{{ include.id }}?scrollZoom=false&elevationDiagram=false&u=m>
    <i id='mapbutton' class='fas fa-compass'></i></a>"
    width="500" height="400"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    loading="lazy"
    style="background-color: rgb(190,208,170)" 
></iframe>