<div class="eager-form">

  <form
    method="post"
    action="{{ site.data.settings.contact_settings.form_action }}"
    id="contact-form">

    <div class="eager-form__item">
      <label class="eager-form__label">Email Address *
      </label>
      <input
        type="text"
        name="email"
        placeholder="Your email address..."
        class="eager-form__input">
    </div>

    <div class="eager-form__item">
      <label class="eager-form__label">Name *
      </label>
      <input
        type="text"
        name="name"
        placeholder="Your name..."
        class="eager-form__input">
    </div>

    <div class="eager-form__item">
      <label class="eager-form__label">Message *
      </label>
      <textarea
        name="message"
        placeholder="Your message..."
        class="eager-form__textarea"></textarea>
    </div>

    <input
      type="hidden"
      name="_next"
      value="{{ site.data.settings.contact_settings.confirmation_url }}" />
    <input
      type="hidden"
      name="_subject"
      value="{{ site.data.settings.contact_settings.email_subject }}" />
    <input
      type="text"
      name="_gotcha"
      style="display: none;"
      class="eager-form__gotcha"
      val="">

    <div class="eager-form__item">
      <input
        type="submit"
        value="{{ site.data.settings.contact_settings.send_button_text }}"
        class="button button--large">
    </div>

  </form>

</div>
