{% if include.tags %}

{% assign tags_to_ignore = include.ignore_tags | split: ',' %}
{% assign photos_to_ignore = include.ignore_photos | split: ',' %}

{% assign photos = "" | split: ',' %}
{% for print in site.data.prints %}
    {% if photos_to_ignore contains print.path %}
        {% continue %}
    {% endif %}

    {% assign tags = print.tags | split: " " %}
    {% assign should_include = "yes" %}
    {% for tag in include.tags %}
        {% if tags_to_ignore contains tag %}
            {% continue %}
        {% endif %}
        {% unless tags contains tag %}
            {% assign should_include = "no" %}
        {% endunless %}
    {% endfor %}
    {% if should_include == "yes" %}
    {% assign photos = photos | push: print.path %}
    {% endif %}
{% endfor %}

{% elsif include.photos %}

{% assign photos = include.photos | strip | newline_to_br | strip_newlines | split: "<br />" %}

{% endif %}

<div class="gallery">
    <div class="image-gallery-wrap">
        <div class="image-gallery">
            {% for photo in photos limit:include.limit %}
            {% assign path = photo | strip %}
            {% assign parts = path | split: "/" %}
            {% assign alt = parts.last | replace: "-", " " %}
            <a data-index="{{forloop.index}}" class="image-gallery-link" href="https://ik.imagekit.io/qn1gkawvy/tr:w-1500/{{ path }}.jpg">
                <img srcset="
                    https://ik.imagekit.io/qn1gkawvy/tr:w-320/{{ path }}.jpg 320w,
                    https://ik.imagekit.io/qn1gkawvy/tr:w-480/{{ path }}.jpg 480w,
                    https://ik.imagekit.io/qn1gkawvy/tr:w-640/{{ path }}.jpg 640w
                    " sizes="100vw" src="https://ik.imagekit.io/qn1gkawvy/tr:h-480/{{ path }}.jpg" alt="{{ alt }}" />
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="image-gallery-swiper-container image-gallery-swiper-hidden">
        <div class="image-gallery-swiper-backgound"></div>
        <div
            class="swiper image-gallery-swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for photo in photos limit:include.limit %}
                {% assign path = photo | strip %}
                {% assign parts = path | split: "/" %}
                {% assign alt = parts.last | replace: "-", " " %}
                <div class="swiper-slide" data-src="{{ path }}">
                    <img
                        data-srcset="
                        https://ik.imagekit.io/qn1gkawvy/tr:w-320/{{ path }}.jpg 320w,
                        https://ik.imagekit.io/qn1gkawvy/tr:w-480/{{ path }}.jpg 480w,
                        https://ik.imagekit.io/qn1gkawvy/tr:w-640/{{ path }}.jpg 640w,
                        https://ik.imagekit.io/qn1gkawvy/tr:w-960/{{ path }}.jpg 960w,
                        https://ik.imagekit.io/qn1gkawvy/tr:w-1280/{{ path }}.jpg 1280w,
                        "
                        sizes="100vw"
                        data-src="https://ik.imagekit.io/qn1gkawvy/tr:w-640/{{ path }}.jpg"
                        class="swiper-lazy"
                        alt="{{ alt }}"
                    />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <a class="swiper-close-button">
            <i class="fas fa-arrow-left fa-2x" aria-hidden="true"></i>
        </a>
        {% if include.orderable %}
        <a href="{{ "/" | relative_url }}" data-prefix="{{ "/" | relative_url }}" class="button button--gallery order-prints">
            <i class="fas fa-shopping-cart"></i>
            Order Print
        </a>
        {% endif %}
    </div>
</div>