<div class="gear-wrap">
    {% if include.show-categories | default: true %}
    <div id="gear-buttons" class="gear-buttons">
        <button class="button button--large active" data-tag="all">All</button>
        <button class="button button--large" data-tag="filming">Filming</button>
        <button class="button button--large" data-tag="travel">Travel</button>
        <button class="button button--large" data-tag="hiking">Hiking</button>
    </div>
    {% endif %}
    <div class="gear-gallery-wrap">
        <div id="gear-gallery" data-default-category="{{ include.default-category | default: 'all' }}" class="gear-gallery">
            {% for gear in site.data.gear %}
            <div class="gear-item hide {{ gear.tags }}">
                <img src="{{ gear.img }}" alt="{{ gear.title }}" />
                <div class="title">{{ gear.title }}</div>
                <div class="description">{{ gear.description }}</div>
                <a href="{{ gear.url }}" class="button button--small button--rounded button--expanded">View</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>