<img
  width="100%"
  srcset="
    https://ik.imagekit.io/qn1gkawvy/tr:w-320/{{ include.src }}.jpg 320w,
    https://ik.imagekit.io/qn1gkawvy/tr:w-480/{{ include.src }}.jpg 480w,
    https://ik.imagekit.io/qn1gkawvy/tr:w-640/{{ include.src }}.jpg 640w,
    https://ik.imagekit.io/qn1gkawvy/tr:w-960/{{ include.src }}.jpg 960w,
    https://ik.imagekit.io/qn1gkawvy/tr:w-1280/{{ include.src }}.jpg 1280w,
  "
  src="https://ik.imagekit.io/qn1gkawvy/tr:w-640/{{ include.src }}.jpg"
  alt="{{ include.alt }}"
/>