{%- assign link="https://www.youtube.com/embed/videoseries?list=PLJc3NWKmFGS1jkly5WML4PBVXEs1IF71b&modestbranding=1&iv_load_policy=3&theme=light&playsinline=1" -%}
<iframe
  width="640" height="360"
  id="lazyframe youtube PLJc3NWKmFGS1jkly5WML4PBVXEs1IF71b"
  srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{background:#000;height:100%}img{position:absolute;width:100%;top:0;bottom:0;margin:auto}</style>
  <a href='{{link}}'>
  <img src=https://img.youtube.com/vi/I2I4EySGYEU/hqdefault.jpg>
  <img id='loadbutton' src='https://ik.imagekit.io/qn1gkawvy/ytplay.png' style='width: 66px; position: absolute; left: 43.5%;'></a>"
  data-src="{{link}}"
  frameborder="0"
  allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
  scrolling="no" 
  loading="lazy"
  style="background-color: #000" 
></iframe>