<style>
    .map-wrapper {
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .map-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
</style>
<div class="map-wrapper">
    {%- capture link -%}https://www.google.com/maps/d/u/0/embed?mid={{ include.id }}{%- endcapture -%}
    {% include lazy-frame.html
        link=link
        id=include.id
        width="640"
        height="480"
        background-color="rgb(146,180,243)"
        loadbutton-src="https://ik.imagekit.io/qn1gkawvy/web/map-location-dot-solid.svg"
    %}
    <div class="map-overlay" onclick="style.pointerEvents='none'"></div>
</div>