<div class="eager-form">

	<form method="post" action="https://formspree.io/f/mqkoakkg" id="order-form">

        <div class="eager-form__item">
            <label id="order-title" class="eager-form__title">Selected Photo</label>
            <br>
			<label id="order-description" class="eager-form__label">Location</label>
            <br>
            <img id="order-photo" class="order-photo" name="image" src="">
            <br>
            <caption>Want a different photo? Browse by certain <a href="{{ "/themes" | relative_url }}">themes</a> or specific <a href="{{ "/places" | relative_url }}">places</a> to find what you're looking for.</caption>
            <input id="order-photo-input" type="hidden" name="image" value="" />
		</div>

        <div class="eager-form__item">
			<label class="eager-form__label">Size *</label>
            <input list="size" name="size" class="eager-form__input">
            <datalist id="size">
                <option value="12in x 18in"></option>
                <option value="16in x 24in"></option>
                <option value="20in x 30in"></option>
                <option value="24in x 36in"></option>
                <option value="30in x 40in"></option>
                <option value="40in x 60in"></option>
            </datalist>
		</div>

        <div class="eager-form__item">
			<label class="eager-form__label">Material *</label>
            <input list="material" name="material" class="eager-form__input">
            <datalist id="material">
                <option value="Lustre Print (without frame)"></option>
                <option value="Metallic Print (without frame)"></option>
                <option value="Giclée Canvas Wrap"></option>
            </datalist>
		</div>

        <div class="eager-form__item">
			<label class="eager-form__label">Name *</label>
			<input type="text" name="name" placeholder="Your name..." class="eager-form__input">
		</div>

        <div class="eager-form__item">
			<label class="eager-form__label">Email Address *</label>
			<input type="text" name="email" placeholder="Your email address..." class="eager-form__input">
		</div>

		<div class="eager-form__item">
			<label class="eager-form__label">Comments or Questions?</label>
			<textarea name="message" placeholder="Your comments..." class="eager-form__textarea"></textarea>
		</div>

		<input type="hidden" name="_next" value="/thanks" />
		<input type="hidden" name="_subject" value="Order Prints" />
		<input type="text" name="_gotcha" style="display: none;" class="eager-form__gotcha" val="">

		<div class="eager-form__item">
			<input type="submit" value="Request" class="button button--large">
		</div>

	</form>

</div>