{% assign photos = include.photos | strip | newline_to_br | strip_newlines | split: "<br />" %}

<div class="swiper-collection-container">
    <div class="swiper swiper-collection swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
        <div class="swiper-wrapper">
        <!-- Slides -->
        {% for photo in photos %}
        {% assign path = photo | strip %}
        {% assign parts = path | split: "/" %}
        {% assign alt = parts.last | replace: "-", " " %}
        <div class="swiper-slide">
            <img
                style="width: 95%;margin: 0 auto;object-fit: cover;background-color: lightgrey;"
                data-srcset="
                https://ik.imagekit.io/qn1gkawvy/tr:w-320/{{ path }}.jpg 320w,
                https://ik.imagekit.io/qn1gkawvy/tr:w-480/{{ path }}.jpg 480w,
                https://ik.imagekit.io/qn1gkawvy/tr:w-640/{{ path }}.jpg 640w
                "
                sizes="100vw"
                data-src="https://ik.imagekit.io/qn1gkawvy/tr:w-480/{{ path }}.jpg"
                class="swiper-lazy"
                alt="{{ alt }}"
            />
        </div>
        {% endfor %}
        </div>
        {% include seo/scripts/gallery.html photos=photos width=480 limit=include.limit %}
    </div>
    <div class="swiper-pagination swiper-pagination-outside"></div>
    <div class="swiper-button-prev swiper-button-prev-outside"></div>
    <div class="swiper-button-next swiper-button-next-outside"></div>
</div>