{% capture title %}
{% if include.page.url == "/" %}
{{site.data.settings.basic_settings.site_title}} - {{include.page.title}}
{% else %}
{{include.page.title}} - {{site.data.settings.basic_settings.site_title}}
{% endif %}
{% endcapture %}

{% capture description %}
{% if include.page.description %}
{{include.page.description}}
{% else %}
{{include.page.title}} - {{site.data.settings.basic_settings.site_title}}
{% endif %}
{% endcapture %}

{% capture image %}
{% if include.page.image %}
https://ik.imagekit.io/qn1gkawvy/tr:w-640/{{ include.page.image }}.jpg
{% else %}
https://ik.imagekit.io/qn1gkawvy/tr:w-640/profile.jpg
{% endif %}
{% endcapture %}

{% capture json %}
{
    "@context": "https://schema.org",
    "@type": "{% if include.page.url == "/" %}WebSite{% else %}BlogPosting{% endif %}",
    "url": "{{ site.url }}{{ include.page.url }}",
    "name": {{ include.page.title | jsonify }},
    {% if include.page.url == "/" %}
    "sameAs": [
          "https://www.instagram.com/nicholas.eager/",
          "https://www.youtube.com/c/NicholasEager",
          "https://www.facebook.com/nicholas.eager.photo"
      ],
    {% endif %}
    "headline": {{ include.page.title | jsonify }},
    "keywords": {{ include.page.tags | join: ',' | jsonify }},
    "description": {{ include.page.description | strip_newlines | strip | jsonify }},
    "image": {{ image | jsonify }},
    "datePublished": {{ include.page.date | jsonify }},
    "dateModified": {{ include.page.last_modified_at | default: include.page.date | jsonify }},
    "author": {
      "@type": "Person",
      "name": {{ site.author.name | jsonify }}
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ site.url }}{{ include.page.url }}"
    }
  }
{% endcapture %}

{% assign title = title | strip_newlines %}
{% assign description = description | strip_newlines %}
{% assign image = image | strip_newlines %}
{% assign json = json | strip_newlines | normalize_whitespace %}

<!-- SEO -->
<title>{{ title }}</title>
<link rel="canonical" href="{{ site.url }}{{ include.page.url }}" />
<meta name="author" content="{{ site.author.name }}" />
<meta name="description" content="{{ description }}" />
<meta property="og:description" content="{{ description }}"" />
<meta property="og:image" content="{{ image }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:url" content="{{ site.url }}{{ include.page.url }}" />
<meta property="og:site_name" content="nicholaseager" />
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{ include.page.date | date_to_xmlschema }}" />
<meta property="twitter:image" content="{{ image }}" />
<meta property="twitter:title" content="{{ title }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@eager_photo" />
<meta name="twitter:creator" content="@{{ site.author.name }}" />
<script type="application/ld+json">{{json}}</script>
<!-- End SEO -->