{% capture slides_array %}
{{ include.i0 }}
{{ include.i1 }}
{{ include.i2 }}
{{ include.i3 }}
{{ include.i4 }}
{{ include.i5 }}
{{ include.i6 }}
{{ include.i7 }}
{{ include.i8 }}
{{ include.i9 }}
{{ include.i10 }}
{{ include.i11 }}
{{ include.i12 }}
{{ include.i13 }}
{{ include.i14 }}
{{ include.i15 }}
{{ include.i16 }}
{{ include.i17 }}
{{ include.i18 }}
{{ include.i19 }}
{{ include.i20 }}
{{ include.i21 }}
{{ include.i22 }}
{{ include.i23 }}
{{ include.i24 }}
{{ include.i25 }}
{{ include.i26 }}
{{ include.i27 }}
{{ include.i28 }}
{{ include.i29 }}
{% endcapture %}

{% assign slides = slides_array | strip | newline_to_br | strip_newlines | split: "<br />" %}

{% assign class = include.class | default: "swiperSingle" %}

<div class="swiper {{ class }} swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for slide in slides %}
      {% assign parts = slide | split: "/" %}
      {% assign alt = parts.last | replace: "-", " " %}
      <div class="swiper-slide">
        <img
            width="100%"
            data-srcset="
              https://ik.imagekit.io/qn1gkawvy/tr:w-320/{{ slide }}.jpg 320w,
              https://ik.imagekit.io/qn1gkawvy/tr:w-480/{{ slide }}.jpg 480w,
              https://ik.imagekit.io/qn1gkawvy/tr:w-640/{{ slide }}.jpg 640w,
              https://ik.imagekit.io/qn1gkawvy/tr:w-960/{{ slide }}.jpg 960w,
              https://ik.imagekit.io/qn1gkawvy/tr:w-1280/{{ slide }}.jpg 1280w,
            "
            sizes="100vw"
            data-src="https://ik.imagekit.io/qn1gkawvy/tr:w-640/{{ slide }}.jpg"
            class="swiper-lazy"
            alt="{{ alt }}"
        />
      </div>
      {% endfor %}
    </div>
  </div>