<div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% if include.i0 %}
      <div class="swiper-slide">
        <img
            width="100%"
            data-src="https://ik.imagekit.io/qn1gkawvy/tr:w-1280/{{ include.i0 }}.jpg"
            class="swiper-lazy"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
      {% endif %}
      {% if include.i1 %}
      <div class="swiper-slide">
        <img
            width="100%"
            data-src="https://ik.imagekit.io/qn1gkawvy/tr:w-1280/{{ include.i1 }}.jpg"
            class="swiper-lazy"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
      {% endif %}
      {% if include.i2 %}
      <div class="swiper-slide">
        <img
            width="100%"
            data-src="https://ik.imagekit.io/qn1gkawvy/tr:w-1280/{{ include.i2 }}.jpg"
            class="swiper-lazy"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
      {% endif %}
      {% if include.i3 %}
      <div class="swiper-slide">
        <img
            width="100%"
            data-src="https://ik.imagekit.io/qn1gkawvy/tr:w-1280/{{ include.i3 }}.jpg"
            class="swiper-lazy"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
      {% endif %}
      {% if include.i4 %}
      <div class="swiper-slide">
        <img
            width="100%"
            data-src="https://ik.imagekit.io/qn1gkawvy/tr:w-1280/{{ include.i4 }}.jpg"
            class="swiper-lazy"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
      {% endif %}
      {% if include.i5 %}
      <div class="swiper-slide">
        <img
            width="100%"
            data-src="https://ik.imagekit.io/qn1gkawvy/tr:w-1280/{{ include.i5 }}.jpg"
            class="swiper-lazy"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
      {% endif %}
      {% if include.i6 %}
      <div class="swiper-slide">
        <img
            width="100%"
            data-src="https://ik.imagekit.io/qn1gkawvy/tr:w-1280/{{ include.i6 }}.jpg"
            class="swiper-lazy"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
      {% endif %}
      {% if include.i7 %}
      <div class="swiper-slide">
        <img
            width="100%"
            data-src="https://ik.imagekit.io/qn1gkawvy/tr:w-1280/{{ include.i7 }}.jpg"
            class="swiper-lazy"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
      {% endif %}
      {% if include.i8 %}
      <div class="swiper-slide">
        <img
            width="100%"
            data-src="https://ik.imagekit.io/qn1gkawvy/tr:w-1280/{{ include.i8 }}.jpg"
            class="swiper-lazy"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
      {% endif %}
      {% if include.i9 %}
      <div class="swiper-slide">
        <img
            width="100%"
            data-src="https://ik.imagekit.io/qn1gkawvy/tr:w-1280/{{ include.i9 }}.jpg"
            class="swiper-lazy"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
      {% endif %}
    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>