<script>
	window.onload = function () {
	setTimeout(function () {
	document.querySelector('#videoframe').contentDocument.querySelector('#playbutton').click();
	}, 5000);
	};
</script>

<iframe
  width="640" height="360"
  id="videoframe"
  srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{background:#000;height:100%}img{position:absolute;width:100%;top:0;bottom:0;margin:auto}</style>
  <a href=https://www.youtube-nocookie.com/embed/{{ include.id }}?autoplay=1&modestbranding=1&iv_load_policy=3&theme=light&playsinline=1&mute=1>
  <img src=https://img.youtube.com/vi/{{ include.id }}/hqdefault.jpg>
  <img id='playbutton' src='https://ik.imagekit.io/qn1gkawvy/ytplay.png' style='width: 66px; position: absolute; left: 43.5%;'></a>"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
  scrolling="no" 
  loading="lazy"
  style="background-color: #000" 
></iframe>