---
import Page from "../../../layouts/Page.astro";
import Grid from "../../../components/ui/Grid";
import HeroCard from "../../../components/ui/HeroCard";
import { getGalleries } from "../../../utils/galleries";

const galleries = await getGalleries();
const filteredGalleries = galleries.filter((g) => {
  return g.type === "location" && g.tags.length === 1;
});
---

<Page
  title="Places"
  description="Sometimes a single photo is all you need to tell a story. Browse my most unique stories."
>
  <div class="space-y-8">
    <Grid>
      {
        filteredGalleries.map((gallery) => (
          <HeroCard
            title={gallery.title}
            subtitle={`${gallery.photos.length} photo${gallery.photos.length !== 1 ? "s" : ""}`}
            imagePath={gallery.previewPhoto.slug}
            href={`/photos/${gallery.slug}`}
          />
        ))
      }
    </Grid>
  </div>
</Page>
