---
import Page from "../../../layouts/Page.astro";
import { getCollection } from "astro:content";
import Image from "../../../components/image-kit/Image";
import Card from "../../../components/ui/Card";
import Grid from "../../../components/ui/Grid";
import Text from "../../../components/ui/Text";

const locations = await getCollection("photoLocations");
const countries = locations
  .filter((location) => location.data.type === "country")
  .sort((a, b) => a.data.name.localeCompare(b.data.name));
---

<Page
  title="Countries"
  description="Sometimes a single photo is all you need to tell a story. Browse my most unique stories."
>
  <div class="space-y-8">
    <Grid>
      {
        countries.map((country) => (
          <Card>
            <a href={`/photos/countries/${country.data.path}`}>
              <div class="w-full h-full">
                <Text variant="h2">{country.data.name}</Text>
                <Text variant="caption">
                  {country.data.photos.length} photo
                  {country.data.photos.length !== 1 ? "s" : ""}
                </Text>
              </div>
              <Image
                path={country.data.previewImage}
                className="w-full object-cover"
              />
            </a>
          </Card>
        ))
      }
    </Grid>
  </div>
</Page>
