---
import Page from "../../../layouts/Page.astro";
import Grid from "../../../components/ui/Grid";
import HeroCard from "../../../components/ui/HeroCard";
import { getCollection } from "astro:content";
import { undefined } from "astro:schema";

const galleries = await getCollection("galleries");
const photos = await getCollection("photos");
const filteredGalleries = galleries
  .filter((g) => {
    return g.data.type === "location" && g.data.tags.length === 1;
  })
  .map((g) => {
    const filteredPhotos = photos
      .filter((p) => p.data.slug.includes(g.data.slug))
      .map((p) => p.data);
    return {
      ...g.data,
      photos: filteredPhotos,
      previewPhoto: filteredPhotos[0],
    };
  });
---

<Page
  title="Places"
  description="Sometimes a single photo is all you need to tell a story. Browse my most unique stories."
>
  <div class="space-y-8">
    <Grid>
      {
        filteredGalleries.map((gallery) => (
          <HeroCard
            title={gallery.title}
            subtitle={`${gallery.photos.length} photo${gallery.photos.length !== 1 ? "s" : ""}`}
            imagePath={gallery.previewPhoto.slug}
            href={`/photos/${gallery.slug}`}
          />
        ))
      }
    </Grid>
  </div>
</Page>
