---
import Page from "../../../layouts/Page.astro";
import Grid from "../../../components/ui/Grid";
import HeroCard from "../../../components/ui/HeroCard";
import { getCollection } from "astro:content";

const locations = await getCollection("locations");
const countries = locations
  .filter((l) => l.data.parts.length === 1)
  .sort((a, b) => b.data.photoSlugs.length - a.data.photoSlugs.length);
---

<Page
  title="Places"
  description="Sometimes a single photo is all you need to tell a story. Browse my most unique stories."
>
  <div class="space-y-8">
    <Grid>
      {
        countries.map((location) => (
          <HeroCard
            title={location.data.name}
            subtitle={`${location.data.photoSlugs.length} photo${location.data.photoSlugs.length !== 1 ? "s" : ""}`}
            imagePath={location.data.previewPhotoSlug}
            href={`/photos/countries/${location.data.slug}`}
          />
        ))
      }
    </Grid>
  </div>
</Page>
