---
import GearCard from "../components/gear/GearCard.tsx";
import PageContent from "../components/containers/PageContainer.astro";
import Layout from "../layouts/Layout.astro";
import GearGrid from "../components/gear/GearGrid.tsx";
import TextContainer from "../components/containers/TextContainer.astro";
---

<Layout>
  <PageContent>
    <TextContainer>
      <h1>Gear</h1>
    </TextContainer>
    <GearGrid client:load />
  </PageContent>
</Layout>
