---
import NavBar from "../components/NavBar.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <NavBar client:load pathname={Astro.url.pathname} style="opaque" />
  <h1>Guides</h1>
</Layout>
