---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mb-8">
    <h1>Travel Guides</h1>
    <p>A collection of how-to guides to help you on your next journey</p>
  </div>
  <section id="guides"></section>
</Layout>
