---
import Banner from "../components/Banner.astro";
import NavBar from "../components/NavBar.tsx";
import Layout from "../layouts/Layout.astro";

const CDN_BASE_URL = import.meta.env.CDN_BASE_URL;
---

<Layout>
  <NavBar client:load pathname={Astro.url.pathname} style="transparent" />
  <Banner
    title="Adventure Film and Photos"
    subtitle="by Nicholas Eager"
    type="video"
    media={`${CDN_BASE_URL}/home-intro.mp4`}
  />
  <h1>Home</h1>
</Layout>
