---
import Banner from "../components/Banner.astro";
import PageContent from "../components/containers/PageContainer.astro";
import Layout from "../layouts/Layout.astro";

const CDN_BASE_URL = import.meta.env.CDN_BASE_URL;
---

<Layout navStyle="transparent">
  <Banner
    title="Adventure Film and Photos"
    subtitle="by Nicholas Eager"
    type="video"
    media={`${CDN_BASE_URL}/home-intro.mp4`}
  />
  <PageContent>
    <h1>Home</h1>
  </PageContent>
</Layout>
