---
import Banner from "../components/Banner.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout navStyle="transparent">
  <Banner
    title="Adventure Film and Photos"
    subtitle="by Nicholas Eager"
    type="video"
    media="/home-intro.mp4"
  />
  <h1>Home</h1>
</Layout>
