---
import Text from "../components/ui/Text";
import LinkButton from "../components/ui/LinkButton";
import ResponsiveWidth from "../components/layout/ResponsiveWidth.astro";
import Page from "../layouts/Page.astro";
import YouTubeVideo from "../components/YouTubeVideo.astro";
import { getCollection } from "astro:content";
import { getLatestFilm, getLatestGuides } from "../utils/latest";
import BaseSwiper from "../components/ui/BaseSwiper";
import Image from "../components/image-kit/Image";

const guides = await getCollection("guides");
const latestGuides = getLatestGuides(guides, 10);

const films = await getCollection("films");
const latestFilm = getLatestFilm(films);
---

<Page>
  <div class="flex justify-center">
    <Image
      className="w-32 sm:w-48 rounded-full aspect-square shadow-lg"
      path="profile-square_7r8XDOfQj"
    />
  </div>

  <ResponsiveWidth size="md">
    <Text variant="h1">Latest YouTube</Text>
  </ResponsiveWidth>
  <ResponsiveWidth size="lg">
    <YouTubeVideo videoId={latestFilm.id} />
  </ResponsiveWidth>

  <ResponsiveWidth size="md">
    <Text variant="h1">Latest Travel Guides</Text>
  </ResponsiveWidth>
  <ResponsiveWidth size="lg">
    <BaseSwiper client:visible items={latestGuides} urlPrefix="guides" />
  </ResponsiveWidth>

  <ResponsiveWidth size="md">
    <Text variant="h2">Other Links</Text>
    <div class="flex flex-col gap-4 w-fit">
      <LinkButton variant="secondary" href="/gear">
        Gear I Use for Hiking and Filming
      </LinkButton>
      <LinkButton variant="secondary" href="/photos"> Prints </LinkButton>
      <LinkButton variant="secondary" href="/contact"> Collab </LinkButton>
    </div>
  </ResponsiveWidth>
</Page>
