---
layout: collection
title: Personal Blog
description: Capturing my own memories of trips or experiences in the past
---

{% include collection.html items=paginator.posts %}

{% if paginator.total_pages > 1 %}

<section class="pagination">

	<a href="{{ paginator.previous_page_path | relative_url }}" class="button button--large pagination__prev{% if paginator.previous_page %} pagination--on{% endif %}"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
	<a href="{{ paginator.next_page_path | relative_url }}" class="button button--large pagination__next{% if paginator.next_page %} pagination--on{% endif %}"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>

</section>

{% endif %}