---
import Text from "./ui/Text";
---

<div>
  <div class="space-y-4">
    <Text variant="caption">
      <span class="underline font-[700]"> Safety Disclosure: </span>
      <span>
        This travel guide is intended for educational purposes only. Readers are
        urged to conduct their due diligence, verify current conditions, and
        research the most recent information independently. Conditions along
        trails and relevant details may change, necessitating the confirmation
        of accurate and updated information from reliable sources or local
        authorities before undertaking any travel or outdoor activities.
      </span>
    </Text>
    <Text variant="caption">
      <span class="underline font-[700]"> Affiliate Disclosure: </span>
      <span>
        This travel guide contains affiliate links, which means I may earn a
        commission for purchases made through these links at no cost to you.
        Your support helps sustain the creation of more content.
      </span>
    </Text>
  </div>
</div>
