---
import LazyIframe from "./ui/LazyIFrame";

interface Props {
  mapId: string;
}

const { mapId } = Astro.props;
---

<div class="relative w-full aspect-[3/2]">
  <LazyIframe
    client:visible
    src={`https://www.google.com/maps/d/u/0/embed?mid=${mapId}`}
    title="Google Map"
  />
</div>
