---
import LazyIframe from "./ui/LazyIFrame";

interface Props {
  videoId: string;
}

const { videoId } = Astro.props;
---

<div class="relative w-full aspect-video">
  <LazyIframe
    client:visible
    src={`https://www.youtube.com/embed/${videoId}`}
    title="YouTube Video"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowFullScreen
  />
</div>
