<!-- Globals -->
{%- capture image -%}
{%- if include.page.image -%}
https://ik.imagekit.io/qn1gkawvy/tr:w-640/{{ include.page.image }}.jpg
{%- else -%}
https://ik.imagekit.io/qn1gkawvy/tr:w-640/profile.jpg
{%- endif -%}
{%- endcapture -%}
{%- assign image = image | strip_newlines -%}
{%- capture json -%}
{
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "WebPage",
            "@id": "{{ site.url }}{{ include.page.url }}",
            "url": "{{ site.url }}{{ include.page.url }}",
            "name": {{ include.page.title | jsonify }},
            "isPartOf": {
                "@id": "{{ site.url }}/#website"
            },
            "primaryImageOfPage": {
                "@id": "{{ site.url }}{{ include.page.url }}#primaryimage"
            },
            "image": {
                "@id": "{{ site.url }}{{ include.page.url }}#primaryimage"
            },
            "thumbnailUrl": "{{image}}",
            "breadcrumb": {
                "@id": "{{ site.url }}{{ include.page.url }}#breadcrumb"
            },
            "datePublished": {{ include.page.date | jsonify }},
            "dateModified": {{ include.page.last_modified_at | default: include.page.date | jsonify }},
            "description": {{ include.page.description | strip_newlines | strip | jsonify }},
            "inLanguage": "en-US",
            "potentialAction": [
                {
                    "@type": "ReadAction",
                    "target": [
                        "{{ site.url }}{{ include.page.url }}"
                    ]
                }
            ]
        },
        {
            "@type": "ImageObject",
            "inLanguage": "en-US",
            "@id": "{{ site.url }}{{ include.page.url }}#primaryimage",
            "url": "{{ image }}",
            "contentUrl": "{{ image }}",
            "caption": {{ include.page.title | jsonify }},
            "creditText": "Nicholas Eager Photography",
            "license": "{{ site.url }}/terms-and-conditions",
            "acquireLicensePage": "{{ site.url }}/how-to-use-my-art",
            "creator": {
                "@id": "{{ site.url }}/#organization"
            },
            "copyrightNotice": "Nicholas Eager Photography, LLC"
        },
        {
            "@type": "WebSite",
            "@id": "{{ site.url }}/#website",
            "url": "{{ site.url }}/",
            "name": "Nicholas Eager Photography",
            "description": "",
            "publisher": {
                "@id": "{{ site.url }}/#organization"
            },
            "inLanguage": "en-US"
        },
        {
            "@type": "Organization",
            "@id": "{{ site.url }}/#organization",
            "name": "Nicholas Eager Photography",
            "url": "{{ site.url }}/",
            "logo": {
                "@type": "ImageObject",
                "inLanguage": "en-US",
                "@id": "{{ site.url }}/#/schema/logo/image/",
                "url": "{{ site.author.image }}",
                "contentUrl": "{{ site.author.image }}",
                "caption": "Nicholas Eager Photography"
            },
            "image": {
                "@id": "{{ site.url }}/#/schema/logo/image/"
            },
            "sameAs": {{ site.social.links | jsonify }}
        },
        {
            "@type": "Person",
            "@id": "{{ site.url }}/about#author",
            "name": "Nicholas",
            "image": {
                "@type": "ImageObject",
                "inLanguage": "en-US",
                "@id": "{{ site.url }}/#/schema/logo/image/",
                "url": "{{ site.author.image }}",
                "contentUrl": "{{ site.author.image }}",
                "caption": "Nicholas"
            },
            "sameAs": {{ site.social.links | jsonify }},
            "url": "{{ site.url }}/about"
        }
    ]
}
{%- endcapture -%}
{%- assign json = json | strip_newlines | normalize_whitespace -%}
<script type="application/ld+json">{{json}}</script>