{%- capture image -%}
{%- if include.page.image -%}
https://ik.imagekit.io/qn1gkawvy/tr:w-640/{{ include.page.image }}.jpg
{%- else -%}
https://ik.imagekit.io/qn1gkawvy/tr:w-640/profile.jpg
{%- endif -%}
{%- endcapture -%}
{%- assign image = image | strip_newlines -%}
{%- capture json -%}
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": "{{ site.url }}{{ include.page.url }}",
  "name": {{ include.page.title | jsonify }},
  "sameAs": {{ site.social.links | jsonify }},
  "headline": {{ include.page.title | jsonify }},
  "description": {{ include.page.description | strip_newlines | strip | jsonify }},
  "image": "{{ image }}",
  "datePublished": {{ include.page.date | jsonify }},
  "dateModified": {{ include.page.last_modified_at | default: include.page.date | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ site.author.name | jsonify }},
    "description": {{ site.author.description | jsonify }},
    "sameAs": {{ site.social.links | jsonify }},
    "image": {
      "@type": "ImageObject",
      "url": "https://ik.imagekit.io/qn1gkawvy/tr:w-640/profile.jpg"
    },
    "givenName": "Nicholas",
    "familyName": "Eager",
    "publishingPrinciples": "https://nicholaseager.com/about"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ include.page.url }}"
  }
}
{%- endcapture -%}
{%- assign json = json | strip_newlines | normalize_whitespace -%}
<script type="application/ld+json">{{json}}</script>