{%- capture json -%}
[
{% for photo in include.photos limit:include.limit %}
{% assign path = photo | strip %}
{
  "@context": "https://schema.org/",
  "@type": "ImageObject",
  "contentUrl": "https://ik.imagekit.io/qn1gkawvy/tr:w-{{include.width}}/{{ path }}.jpg",
  "creditText": "Nicholas Eager Photography",
  "license": "{{ site.url }}/terms-and-conditions",
  "acquireLicensePage": "{{ site.url }}/how-to-use-my-art",
  "creator": {
    "@type": "Person",
    "name": "Nicholas Eager"
   },
  "copyrightNotice": "Nicholas Eager Photography, LLC"
}{%- unless forloop.last -%},{%- endunless -%}
{% endfor %}
]
{%- endcapture -%}
{%- assign json = json | strip_newlines | normalize_whitespace -%}
<script type="application/ld+json">{{json}}</script>