.gear-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gear-gallery-wrap {
    position: relative;
	max-width: 100%;
	margin: 0px auto;

    @include mq(phonel) {
		max-width: 90%;
		margin: 20px auto;
	}

	@include mq(tabletp) {
		max-width: 83%;
		margin: 30px auto;
	}

	@include mq(laptop) {
		max-width: 75%;
		margin: 40px auto;
	}
}

.gear-gallery {
    display: grid;
    padding: 20px;
    grid-gap: 20px 10px;
    grid-template-columns: 50% 50%;

    @include mq(phonel) {
        grid-template-columns: 30% 30% 30%;
    }

    @include mq(tabletp) {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

.gear-gallery-image {
    display: none;

    a {
        display: block;

        img {
            width: 200px;
            height: 200px;
            object-fit: contain;
            padding: 5px;
        }
    }
}

.gear-gallery-image.show {
    display: block;
}