.gear-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gear-gallery-wrap {
    position: relative;
	max-width: 100%;
	margin: 0px auto;

    @include mq(phonel) {
		max-width: 90%;
		margin: 20px auto;
	}

	@include mq(tabletp) {
		max-width: 83%;
		margin: 30px auto;
	}

	@include mq(laptop) {
		max-width: 75%;
		margin: 40px auto;
	}
}

.gear-gallery {
    display: grid;
    padding: 20px;
    grid-gap: 20px 10px;
    grid-template-columns: 50% 50%;

    @include mq(phonel) {
        grid-template-columns: 30% 30% 30%;
    }

    @include mq(tabletp) {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

.gear-item {
    background-color: $background-alt-color;
	border-radius: 15px;
	overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 10px;

    @include mq(tabletp) {
        padding: 15px;
	}
}

.gear-item img {
    background-color: $background-color;
    aspect-ratio: 1;
    border-radius: 15px;
    overflow: hidden;
    object-fit: contain;

    padding: 5px;

    @include mq(tabletp) {
        padding: 10px;
	}

	@include mq(laptop) {
		padding: 20px;
	}
}

.gear-item .title {
    padding-top: 10px;

    font-size: 14px;
	font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0;

	@include mq(tabletp) {
        font-size: 16px;
	}

	@include mq(laptop) {
		font-size: 18px;
	}
}

.gear-item .description {
    padding: 10px 0px;

    font-size: 10px;
	font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0;

	@include mq(tabletp) {
        font-size: 11px;
	}

	@include mq(laptop) {
		font-size: 13px;
	}
}

.gear-item.hide {
    display: none;
}

.gear-item.show {
    display: block;
}