.image-gallery {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;

    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;

    -webkit-row-gap: 10px;
    -moz-row-gap: 10px;
    row-gap: 10px;

    padding: 5px;

    @include mq(phonel) {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    @include mq(tabletp) {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }

    @include mq(laptop) {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }

    @include mq(desktop) {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }

    a {
        display: block;

        img {
            /* Just in case there are inline attributes */
            width: 100% !important;
            height: auto !important;
            max-width: 100%;
            max-height: 100%;
    
            padding: 5px;
        }
    }
}