.social-share {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
}

.social-share.center {
    align-items: center;
    justify-content: center;
}

.social-share-button {
    display: inline-block;
	padding: 9px 10px 10px;
	font-size: 11px;
	line-height: 1;
	background: $accent-color;
	color: $background-color;
	font-weight: 400;
	letter-spacing: 1;
    border-radius: 10px;
	cursor: pointer;

	@include mq(tabletp) {
		padding: 9px 15px 10px;
		font-size: 13px;
	}

	&:hover {
		background: adjust-hue($accent-color,15%);
		border-color: adjust-hue($accent-color,15%);
		color: $background-color;
	}

    span {
        white-space: nowrap;
    }

	svg {
		margin-right: 5px;
	}
}

.social-share-button.facebook {
    background: rgb(53, 121, 234);
}

.social-share-button.twitter {
    background: rgb(74, 161, 235);
}

.social-share-button.reddit {
    background: rgb(212, 45, 47);
}

.social-share-button.pinterest {
    background: rgb(236, 84, 40);
}

.social-share-button.email {
    background: rgb(119, 113, 109);
}