---
layout: default
---

<section class="section__banner">
	{% include banner.html image=page.image title=page.title %}
</section>

<section id="content">
	<div class="guide-intro-background">
		<div class="guide-intro-container">
			<div class="guide-intro">
				<div class="guide-intro-content">
					<h1>{{ page.title }}</h1>
					<p><i>Last updated: {{ page.modified_date | default: page.date | date_to_long_string }}</i></p>
					{% if page.introduction %}
					<p>{{ page.introduction }}</p>
					{% endif %}
				</div>
	
				<div class="guide-intro-video-container">
					<div class="guide-intro-video">
						{% if page.youtube %}
						{% include youtube.html id=page.youtube %}
						{% else %}
						{% include image.html src=page.image %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="single table-of-contents-container">
	<div id="table-of-contents">
		<h2 id="table-of-contents">Table of Contents</h2>
		<ol>
			<!-- Generated in JS -->
		</ol>
	</div>

	<hr>

	<div class="table-of-contents-content">

		{% if page.alltrails %}
		<h2>Map with Route Overview</h2>
		{% include alltrails.html id=page.alltrails %}
		<hr>
		{% endif %}

		{{ page.content }}

		<hr>

		{% if page.googlemap %}
		<h2>Map with Points of Interest</h2>
		{% include my-map.html id=page.googlemap %}
		{% endif %}

		<h2>Gear Required</h2>
		<p>When you're out exploring, it's super important to have the right gear. The right stuff can keep you comfortable, safe, and happy on your trip, and it can also help you take care of the planet. Make sure to pack the right clothes and gear for your trip. A little bit of planning and preparation can go a long way towards making your adventure a success.</p>
		<p>Check out the <a href="{{ "/gear" | relative_url }}">gear</a> I bring with me on most of my trips.</p>

		<h2>Conclusion</h2>
		<p>Please <a href="{{ "/contact" | relative_url }}">contact</a> me if you want to ask questions; I am happy to help.</p>
		{% if page.youtube %}
		<p>You can also check out <a href="https://www.youtube.com/watch?v={{ page.youtube }}" target="_blank">a video</a> that I made about the entire trip! I tried my best to capture all of the little beautiful moments by letting them speak for themselves. So there are no explanations or speaking in this video, just moments :)</p>
		{% endif %}
	</div>
</section>