---
layout: default
---

<section class="section__banner">
	<div class="banner">
		<div class="banner__background">
			<video disablePictureInPicture autoplay muted loop  controlsList="nodownload" id="myVideo">
				<source src="https://ik.imagekit.io/qn1gkawvy/home-intro.mp4" type="video/mp4">
			</video>
		</div>
		<div class="banner__container">
			<div class="banner__background__shading"></div>
			<div class="banner__container__content">
				<h2 class="title">Nicholas Eager</h2>
				<p class="description">Adventure Film-maker and Photographer</p>
			</div>
		</div>
	</div>
</section>

<section class="single">

	{{ content }}

</section>