---
layout: default
jsonld: print
---

<section>
	<div class="order-wrap">
		<div class="order-container">
			<div class="order-images">
				{% include photo-display.html path=page.image %}
			</div>
			<div class="order-content">
				<h2>{{ page.title }}</h2>
				<p><i>{{ page.location }}</i></p>
				<p class="order-author">By <a href="{{ "/about" | relative_url }}">Nicholas Eager</a><br>
				<b>© {{ 'now' | date: "%Y" }}</b> Nicholas Eager Photography</p>
				<p>{{ page.description }}</p>
				
				{% if page.youtubeurl %}
				<p>
					<a href="{{page.youtubeurl}}" target="_blank" class="button button--small order-youtube">
						Watch the video behind the photo
						<i class="fab fa-youtube" aria-hidden="true"></i>
					</a>
				</p>
				{% endif %}

				{% if page.storeurl %}
				<div class="eager-form-small">
					<p>Order a print to share the story in your own home.</p>
					<p><a href="{{ page.storeurl }}" target="_blank" class="button button--large">Order Print</a></p>
				</div>
				{% else %}
				<p>This photo has not been setup on my external store quite yet. Please fill out the form below and I will get back to you as soon as I can. Thank you!</p>
				{% include order-form.html path=page.image %}
				{% endif %}
			</div>
		</div>
	</div>
</section>

<section class="single">
	<p>Want a different photo? Browse by certain <a href="{{ "/themes" | relative_url }}">themes</a> or specific <a href="{{ "/places" | relative_url }}">places</a> to find what you're looking for.</p>

	<h2>You Might Also Like</h2>
	{% include gallery.html
		orderable=true
		limit=6
		tags=page.tags
		ignore_tags="showcase"
		ignore_photos=page.image
	%}

	<p>If you have any comments, questions, or other inquiries, please <a href="{{ "/contact" | relative_url }}">contact</a> me separately.</p>
</section>