---
import NavBar from "../components/NavBar";

interface Props {
  navStyle?: "opaque" | "transparent";
}

const { navStyle = "opaque" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Nicholas Eager</title>
  </head>
  <body>
    <NavBar client:load pathname={Astro.url.pathname} style={navStyle} />
    <slot name="header" />
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
