---
import ResponsiveWidth from "../components/layout/ResponsiveWidth.astro";
import Text from "../components/ui/Text";
import Layout from "../layouts/Layout.astro";
import TextContainer from "../components/ui/TextContainer";

const { title, description } = Astro.props;
---

<Layout>
  <main>
    <div class="my-8 md:my-16">
      <section class="mb-8 text-center">
        <ResponsiveWidth size="md">
          <TextContainer>
            <Text variant="h1">{title}</Text>
            <Text variant="body">{description}</Text>
          </TextContainer>
        </ResponsiveWidth>
      </section>
      <ResponsiveWidth size="full">
        <slot />
      </ResponsiveWidth>
    </div>
  </main>
</Layout>
