---
import PageContainer from "../components/containers/PageContainer.astro";
import TextContainer from "../components/containers/TextContainer.astro";
import Text from "../components/ui/Text";
import Layout from "../layouts/Layout.astro";

const { title, description } = Astro.props;
---

<Layout>
  <main>
    <PageContainer>
      <section class="mb-8 text-center">
        <TextContainer>
          <Text variant="h1">{title}</Text>
          <Text variant="body">{description}</Text>
        </TextContainer>
      </section>
      <slot />
    </PageContainer>
  </main>
</Layout>
